@using CoreApp_OOP.Entity
@model List<Product>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_CoreLayout.cshtml";
}

<h1>Ürün Sayfası</h1>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Ürün Adı</th>
        <th>Fiyat</th>
        <th>Stok</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>
   @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductID</td>
            <td>@item.ProductName</td>
            <td>@item.ProductPrice</td>
            <td>@item.ProductStock</td>
            <td><a class="btn btn-info" href="/Product/DeleteProduct/@item.ProductID">Sil</a></td>
            <td><a class="btn btn-info" href="/Product/UpdateProduct/@item.ProductID">Güncelle</a></td>
        </tr>
    }

</table>

<a href="/Product/AddProduct" class="btn btn-primary">Yeni Ürün Girişi</a>

